@import "tailwindcss";

@theme {
  --color-primary: #1ABC9C;
  --font-sans: "Manrope", sans-serif;
}

body {
  font-family: var(--font-sans);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

